div{
    margin: 25px;
    padding: 5px;
    font-size: 15px;
}
.navClass{
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid black;
}
.aboutClass{
    margin: 10px;
    text-align: justify;
    padding: 10px;
}
.contactClass{
    margin: 5px;
    padding: 10px;

}
.nextPage{
    padding: 5px;
    margin: 10px;
    border-top: 1px solid black;
    text-align: center;
}
/*sizing nav bar icons*/
img{
    height: 20px;
    width: 20px;
}
/*styling nav bar text for on hover*/
button{
    background: none;
    border: none;
    color: black;
}
/*page2 specific grid display and some styling*/
.container2{
    display: grid;
    grid-template-areas:
            "header header"
            "resume skills"
            "resume skills"
            "footer footer";
}
.navClass2{
    grid-area: header;
    border-bottom: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.resumeClass{
    /*text-align: center;*/
    grid-area: resume;
    margin: 10px;
    padding: 10px;
}
.textContent{
    grid-area: skills;
    margin: 10px;
    padding: 10px;
    border: 1px dashed black;
}

footer{
    padding: 5px;
    margin: 10px;
    border-top: 1px solid black;
    text-align: center;
    grid-area: footer;
}
/*resume placeholder sizing*/
#resizeThisImage{
    width: 300px;
    height: 400px;
    margin: 0;
    padding: 0;
}
/*resize second set of placeholders*/
.resizeThisImage2{
    width: 100px;
    height: 100px;
}
.resizeThisIcon{
    width: 40px;
    height: 40px;
}
/*style headers that will be clicked*/
/*.sectionHeading{*/
    /*font-weight: lighter;*/
    /*font-size: 20px;*/
/*}*/
table{
    /*border: 1px solid blue;*/
    padding: 10px;
}
td{
    /*border: 1px solid red;*/
    padding: 10px;

}
/*style page titles*/
h4{
    font-size: 30px;
}
