/*styling across pages*/
div{
    margin: 25px;
    padding: 5px;
    font-size: 15px;
}
/*style page titles*/
h4{
    font-size: 30px;
    padding: 0;
    margin-bottom: 10px;
}
/*styling buttons*/
button{
    background: none;
    border: none;
    color: gray;
}
/*style links*/
a{
    color: gray;
}
/*style in page headers*/
.secondaryHeading{
    font-size: 20px;
}
/*resize second set of placeholders*/
.resizeThisImage2{
    width: 100px;
    height: 100px;
}
.resizeThisIcon{
    width: 40px;
    height: 40px;
}
.smallIcon{
    width: 15px;
    height: 15px;
}
/************************************************************/
/*about specific styling*/
.navClass{
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid black;
}
.aboutClass{
    margin: 10px;
    text-align: justify;
    padding: 10px;
}
.contactClass{
    margin: 10px;
    padding: 10px;
}
/*style headers that will be clicked*/
.sectionHeading{
    font-weight: lighter;
    font-size: 20px;
}
.nextPage{
    padding: 5px;
    margin: 10px;
    border-top: 1px solid black;
    text-align: center;
}
/*sizing nav bar icons*/
img{
    height: 25px;
    width: 25px;
}
/************************************************************/
/*skills specific grid display and some styling*/
.navClass2{
    border-bottom: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.textContent{
    margin: 10px;
    padding: 10px;
}
/*CHANGE color to anything less gross*/
.clickHeading{
    color: gray;
}

footer{
    padding: 5px;
    margin: 10px;
    border-top: 1px solid black;
    text-align: center;
    grid-area: footer;
}
/************************************************************/
/*CHANGE tables on pages 3 and 4 to grids or inline block display*/
table{
    /*border: 1px solid blue;*/
    padding: 10px;
}
td{
    /*border: 1px solid red;*/
    padding: 10px;

}
/*resume specific styling*/
/*resume placeholder sizing*/
#resizeThisImage{
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 0;
}


