/*MULTI PAGE STYLES*/
/*add margins*/
div{
    margin-top:1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    font-size: 18px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: lighter;
}
/*style page titles*/
h4{
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    font-size: 25px;
    padding: 0;
    margin-bottom: 10px;
}
/*styling buttons*/
button{
    background: none;
    border: none;
    color: red;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
}
/*style links*/
a{
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*resize images and icons*/
.resizeThisImage2{
    width: auto;
    height: 300px;
}
.resizeThisIcon{
    width: 50px;
    height: 50px;
}
/************************************************************/
/*ABOUT*/
/*grid display*/
.homeClass{
    display: grid;
}
.navClass{
    padding: 10px;
    border-bottom: 2px solid red;
    grid-column: 1/2;
    grid-row: 1;
}
.aboutClass{
    margin: 10px;
    text-align: justify;
    padding: 10px;
    grid-column: 1/2;
    grid-row: 2;
}
.contactClass{
    margin: 10px;
    padding: 10px;
    grid-column: 1/2;
    grid-row: 3;
}
.theNextPage{
    position: fixed;
    top: 40%;
    right: 5%;
}
/*sizing nav bar icons*/
img{
    height: 30px;
    width: 30px;
}
/************************************************************/
/*SKILLS*/
/*grid display*/
.container2{
     display: grid;
     grid-template-columns: auto 40% 50% auto;
    grid-template-rows: auto;
 }
.container2>.navClass{
    border-bottom: 2px solid red;
}
.container2>header{
    grid-column: 2/4;
    grid-row: 1;
}
.skillsHead{
    grid-column: 2;
    grid-row: 2;
    padding: 10px;
}
.mySkills{
    grid-column: 2;
    grid-row: 3;
    margin: 12px;
    padding: 10px;
}
td{
    padding-right: 15px;
    padding-bottom: 15px;
}
.eduHead{
    grid-column: 3;
    grid-row: 2;
    padding: 10px;
}
.myEdu{
    grid-column: 3;
    grid-row: 3;
    margin: 12px;
    padding: 10px;
}
.container2>.theNextPage{
    position: fixed;
    top: 50%;
    left: 5%;
}
.container2>.thePreviousPage{
    position: fixed;
    top: 50%;
    right: 5%;
}
/************************************************************/
/*RESUME*/
/*resume pdf iFrame sizing*/
#resizeThisImage{
    width:800px;
    height: 1100px;
    margin: 10px;
    padding: 0;
}
/*grid display*/
.container5{
    display: grid;
    grid-template-columns: 5% 5% auto 5% 5%;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.container5>.navClass{
    border-bottom: 2px red solid;
}
.container5>header{
    grid-column: 2/4;
    grid-row: 1;
}
.resume{
    grid-column: 3;
    grid-row: 3;
    text-align: center;
}
.container5>.description{
    grid-column: 3;
    grid-row: 2;
    text-align: center;
}
.container5>.theNextPage{
    position: fixed;
    top: 50%;
    left: 5%;
}
.container5>.thePreviousPage{
    position: fixed;
    top: 50%;
    right: 5%;
}
/************************************************************/
/*PROJECTS*/
/*projects grid*/
.container3{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.container3>.navClass{
    border-bottom: 2px solid red;
}
.container3>header{
    grid-column: 2/4;
    grid-row: 1;
}
.container3>.description{
    grid-column: 2/4;
    grid-row: 2;
    margin: 12px;
}
.projectSection1{
    grid-column: 2/3;
    grid-row: 3;
    margin: 12px;
}
.projectSection2{
    grid-column: 3/4;
    grid-row: 3;
    margin: 12px;
}
.projectSection3{
    grid-column: 2/3;
    grid-row: 4;
    margin: 12px;
}
.projectSection4{
    grid-column: 2/3;
    grid-row: 4;
    margin: 12px;
}
.container3>.theNextPage{
    position: fixed;
    top: 50%;
    left: 5%;
}
.container3>.thePreviousPage{
    position: fixed;
    top: 50%;
    right: 5%;
}
/************************************************************/
/*REFLECTIONS*/
/*reflection grid*/
.container4{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.container4>.navClass{
    border-bottom: 2px solid red;
}
.container4>header{
    grid-column: 2/4;
    grid-row: 1;
}
.container4>.description{
    grid-column: 2/4;
    grid-row: 2;
    margin: 12px;
}
.reflectionSection1{
    grid-column: 2/3;
    grid-row: 3;
    margin: 12px;
}
.reflectionSection2{
    grid-column: 3/4;
    grid-row: 3;
    margin: 12px;
}
.reflectionSection3{
    grid-column: 2/3;
    grid-row: 4;
    margin: 12px;
}
.reflectionSection4{
    grid-column: 3/4;
    grid-row: 4;
    margin: 12px;
}
.reflectionSection5{
    grid-column: 2/3;
    grid-row: 5;
    margin: 12px;
}
.reflectionSection6{
    grid-column: 3/4;
    grid-row: 5;
    margin: 12px;
}
.reflectionSection7{
    grid-column: 2/3;
    grid-row: 6;
    margin: 12px;
}
.reflectionSection8{
    grid-column: 3/4;
    grid-row: 6;
    margin: 12px;
}
.reflectionSection9{
    grid-column: 2/3;
    grid-row: 7;
    margin: 12px;
}
.reflectionSection10{
    grid-column: 3/4;
    grid-row: 7;
    margin: 12px;
}
.container4>.theNextPage{
    position: fixed;
    top: 50%;
    left: 5%;
}
.container4>.thePreviousPage{
    position: fixed;
    top: 50%;
    right: 5%;
}
/*****************************************************************/
/*contact page*/
.iframeStyle{
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}
#myContactPage>.theNextPage{
    position: fixed;
    top: 50%;
    left: 5%;
}
#myContactPage>.thePreviousPage{
    position: fixed;
    top: 50%;
    right: 5%;
}

